body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Fondo negro */
    color: #fff;
    padding-top: 56px; /* Altura de la barra de navegación */
}

.navbar {
    background-color: #17a2b8; /* Color de fondo de la barra de navegación */
}

.navbar-brand img {
    height: 30px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #fff !important; /* Color de texto de los enlaces */
}

.carousel .carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#about {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 60px 0;
    text-align: center;
}

#about .col-md-4 {
    margin-bottom: 30px;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    #about .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.icon-box {
    background-color: #17a2b8; /* Fondo del icono */
    padding: 10px; /* Ajustar el padding para cambiar el tamaño */
    border-radius: 10px; /* Borde ligeramente redondeado */
    display: inline-block; /* Para que el elemento se ajuste al tamaño del contenido */
    margin-bottom: 15px;
    width: 100%; /* Asegura que el ancho sea igual al ancho del texto */
}

.icon-box i {
    font-size: 30px; /* Tamaño del icono */
}

#features {
    background-color: #000; /* Fondo negro */
    padding: 60px 0;
    text-align: center;
}

#features .card {
    margin-bottom: 20px;
}

#features .card-body {
    background-color: #17a2b8; /* Fondo de las cards */
    color: #fff;
}

#contact {
    background-color: #000; /* Fondo negro */
    padding: 60px 0;
}

#contact .form-control {
    background-color: #000;
    color: #fff;
    border: 1px solid #17a2b8;
}

#contact .btn-info {
    background-color: #17a2b8;
    border: none;
}

footer {
    background-color: #17a2b8; /* Fondo del footer */
    color: #fff;
    padding: 20px 0;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    transition: color 0.3s;
}

footer a:hover {
    color: #343a40;
}
