

body {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.hero-section {
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

.hero-section img {
/* Layout Properties */
    top: 73px;
    left: 0px;
    width: 1280px;
    height: 727px;
}
.desc-section {
    background-color: #1e1a13;
    color: #ffffff;
    padding: 20px;
}

.desc-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc-content p {
    flex: 1;
    margin-right: 20px;
}

.desc-content img {
    flex: 1;
    max-width: 50%;
    height: auto;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.icons-section {
    background-color: #1e1a13;
    color: #ffffff;
    padding:20px;
    text-align: center;
}

.icons-section h2 {
    margin-bottom: 20px;
}

.icons-section .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; /* Espacio entre los iconos */
}

.icons-section .icon {
    text-align: center;
}

.icons-section .icon i {
    font-size: 50px; /* Tamaño del icono */
    display: block;
    margin-bottom: 20px;

}


.images-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /
    padding: 20px;
    background-color: #1e1a13;
    

}

.images-section img {
    width: 100%;
    max-width: 400px; 
    height: 200px;
    object-fit: cover; 
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 40px;
}
