/*CONFIGURACION GENERAL*/

/*barra de navegacion*/

/*body*/
body{
    text-align: center;
    color: black;

}

/*header*/

header{
    background-image: url();
    background-position: ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: ;
}